<header>
    <div class="header__logo">
        <a routerLink="/"><img src="assets\images\LOGO_HOR.png" alt="logo" /></a>
    </div>
    <div class="header__nav">
        <div>
            <!-- Move to home page and focus on section with id about-me -->
            <a href="/#about-me">
                <button mat-flat-button color="primary">About me</button>
            </a>
        </div>
        <div>
            <a href="/#projects">
                <button mat-flat-button color="primary">Projects</button>
            </a>
        </div>
        <div>
            <a href="/#contact">
                <button mat-flat-button color="primary">Contact</button>
            </a>
        </div>
    </div>
</header>
