<footer id="contact">
    <div class="container column-on-phone">
        <h2>Connect me via</h2>
        <ul>

            <a href="https://www.linkedin.com/in/trinhttk-02/" target="_blank">
                <i class='fa fa-linkedin' style='background-color: white;color: black;'></i>
            </a>

            <a href="https://www.facebook.com/trinh.tranthikieu.bio/" target="_blank">
                <i class='fa fa-facebook' style='background-color: white;color: black;'></i>
            </a>

        </ul>
    </div>
</footer>
