.container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 0;
}

ul {
    margin-left: 20px;
}

ul i {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
}
