<section id="about" class="portfolio position-relative">
    <h2 class="text-uppercase text-center text-black">About me</h2>
    <div class="container">
        <h3>Education</h3>
        <div class="row justify-content-sm-center">
            <div class="col-md-4 justify-content-md-end align-items-md-center d-lg-flex">
                <img style="height: auto; width: auto;max-height: 70%; max-width: 70%;margin-right: 0.25rem;" src="https://upload.wikimedia.org/wikipedia/commons/8/88/Logo_Tr%C6%B0%E1%BB%9Dng_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_kinh_t%E1%BA%BF_-_Lu%E1%BA%ADt_%28UEL%29%2C_%C4%90HQG-HCM%2C_220px.png"
                    alt="UEL">
            </div>
            <div class="col-md-8 p-2">
                <p class="fw-semibold">University of Economics and Law, Vietnam National University, Ho Chi Minh City</p>
                <p class="fw-semibold">Bacerlor's degree with hornors in Electronic Commerce</p>
                <p class="fst-italic">October 2020 - May 2024</p>
                <li>Ranked Top 1 in Faculty of Information Systems (Valedictorian)</li>
                <li>Graduated with a GPA of 8.96/10</li>
                <li>Graduation Thesis: "Customer churn prediction with ensemble techniques: A comparative study" (Score: 10/10)</li>
                <li>Had 2 publications in international conferences and 1 paper in a international journal</li>
            </div>
        </div>
    </div>
    <div class="my-xl-3 justify-content-md-center align-items-md-center d-lg-flex">
        <div class="col-md-6">
            <hr style="color: var(--bs-primary);">
        </div>
    </div>
    <div class="container">
        <h3>Experience</h3>
        <div class="row justify-content-sm-center">
            <div class="col-md-4 justify-content-md-end align-items-md-center d-lg-flex">
                <img style="height: auto; width: auto;max-height: 55%; max-width: 55%;" src="https://img.officer.com/files/base/cygnus/ofcr/image/2019/04/abbott_logo.5ca22d59addf5.png?auto=format%2Ccompress&w=250&width=250" alt="Abbott_Laboratories_logo">
            </div>
            <div class="col-md-8 p-2">
                <p class="fw-semibold">Business Intelligence Intern</p>
                <p class="fw-semibold">Abbott Nutrition Vietnam</p>
                <p class="fst-italic">April 2024 - Prsent</p>
                <li>Collaborate closely within team members and cross-functional teams to get full understanding of the business requirements</li>
                <li>Develop and maintain BI reports and dashboards for Trade sales and Ethical teams</li>
                <li>Automate data extraction and transformation process using Python and SQL</li>
                <li>UAT for new models to ensure the accuracy of the data and optimize the performance of the system</li>
                <li>Provided training and support to end-users</li>
                <li>Participated in the development of a new software Target List Automation (TLA) to optimize the sales process, with the role of a UAT Tester</li>
            </div>
        </div>
        <div class="row justify-content-sm-center">
            <div class="col-md-4 justify-content-md-end align-items-md-center d-lg-flex">
                <img style="height: auto; width: auto;max-height: 80%; max-width: 80%;margin-right: 0.25rem;" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM0hQS1E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f3bee657c34a2d3f3571dd50e0abd0478534b3b7/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/logo%20intern.png"
                    alt="Ahamove_logo">
            </div>
            <div class="col-md-8 p-2">
                <p class="fw-semibold">Backend Engineer Intern</p>
                <p class="fw-semibold">Ahamove</p>
                <p class="fst-italic">Octorber 2023 - January 2024</p>
                <li>Developed and maintained the APIs for the Ahamove platform</li>
                <li>Collaborated with the Front-end team to develop the Simulation Tool which enables partners to integrate APIs easier</li>
                <li>Developed the Driver History Journey Feature that allows drivers to keep track of their past journeys</li>

            </div>
        </div>


    </div>

</section>