<section id="about" class="portfolio position-relative">
    <div class="container ">
        <h2 class="text-uppercase text-center ">ABOUT ME</h2>
    </div>
    <div class="container py-4 py-xl-5 d-flex flex-wrap justify-content-center ">
        <div class="row col-md-5 justify-content-center align-item-center transparent-div m-2 gap-3 ">
            <div class="col d-flex justify-content-center ">
                <img class="rounded img-fluid " src="assets/img/UEL_Logo.jpg " style="width: 50%; object-fit: contain ">
            </div>
            <div class="col-md-10 col-lg-7 d-flex d-md-flex flex-column align-items-md-center ">
                <div class="align-items-start ">
                    <h3 class="text-uppercase fw-bold align-items-start "><span>Education</span></h3>
                    <p class="fs-5 my-3 "><span>University of Economics and Law</span></p>
                    <p class="fs-5 my-3 "><span>Vietnam National University, Ho Chi Minh City</span></p>
                    <p><span>Major: E-Commerce.</span></p>
                    <p>Honor Program&nbsp;</p>
                    <p>Expected graduate in Apr, 2024</p>
                </div>
            </div>
        </div>
        <div class="row col-md-5 justify-content-center align-item-center transparent-div m-2 gap-3 ">
            <div class="col d-flex justify-content-center ">
                <img class="rounded img-fluid " src="assets/img/hobbies.png " style="width: 50%; object-fit: contain ">
            </div>
            <div class="col-md-10 col-lg-7 d-flex d-md-flex flex-column align-items-md-start ">
                <div class="align-items-start ">
                    <h3 class="text-uppercase fw-bold align-items-start "><span>Hobbies</span></h3>
                    <p class="fs-5 my-3 "><span>Reading</span></p>
                    <p class="fs-5 my-3 "><span>Explore coffee shops</span></p>
                    <p class="fs-5 my-3 "><span>Painting</span></p>
                </div>
            </div>
        </div>
        <div class="about-me-bg-img">
            <img class="blob laptop" src="assets/img/laptop.png" alt="">
            <img class="blob headphone" src="assets/img/headphone.png" alt="">

        </div>
    </div>
</section>
