h2 {
    text-align: center;
    margin: 20px;
}

.container {
    display: flex;
    padding: 20px;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-item {
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}
