<section>
    <h2>About me</h2>
    <div class="full-on-phone">

        <div class="container" id="about-me">

            <div class="left">

                <div class="about-me-item">
                    <h3>Education</h3>
                    <p>
                        University of Economics and Law
                    </p>
                    <p>Vietnam National University, Ho Chi Minh City, Vietnam.</p>
                    <p>
                        Major in E-Commerce.
                    </p>
                    <p>
                        Hornor Program.
                    </p>
                    <p>
                        Expected graduation: 04-2024.
                    </p>
                </div>
                <div class="about-me-item">
                    <h3>Hobbies</h3>
                    <p>
                        Reading, drawing and sightseeing.
                    </p>
                </div>
                <div class="about-me-item">
                    <h3>Lifestyle</h3>
                    <p>
                        Keep things as simple as possible.
                    </p>

                </div>
            </div>
            <div class="right">
                <img src="assets\images\TRAN THI KIEU TRINH 1.jpg" alt="Avatar" class="avatar">
            </div>
        </div>
    </div>
</section>
