<section class="margin-top">
    <div class="container column-on-phone">
        <div class="row">
            <iframe title="cau3" src="https://app.powerbi.com/view?r=eyJrIjoiMDc4ZjUzOGQtNjhjYy00OTRmLThjNmUtMWJhOGJlNTdhY2MzIiwidCI6IjZlNTg1YzllLWQzMWItNGEwMS04MjZkLTY1ZTlkOGYzZDc2OCIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="row">
            <h3>Customer segment with RFM</h3>
            <p>
                I used RFM to segment customers into 6 detailed groups, including "Chiến lược", "Quan trọng", "KH mới", "KH cũ tiềm năng", "KH thường xuyên", "KH phổ phông".
            </p>
            <p>
                These 6 groups are divided into 4 main groups: "Trung thành", "Cần chú ý", "Thường xuyên", "Phổ thông".
            </p>
            <p>Details of the way I divide these group are shown in the following tabel:</p>
            <table>
                <tr>
                    <th>Nhóm</th>
                    <th>Nhóm chi tiết</th>
                    <th>Đặc điểm</th>
                    <th>R-score</th>
                    <th>F-score</th>
                    <th>M-score</th>
                </tr>
                <tr>
                    <td>Khách hàng trung thành</td>
                    <td>Chiến lược</td>
                    <td>Là những khách hàng thường xuyên mua hàng gần đây nhất, tần suất mua hàng cao nhất và giá trị tiêu dùng lớn nhất</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Chiến lược</td>
                    <td>Là những khách hàng thường xuyên mua hàng gần đây, tần suất mua hàng cao và giá trị tiêu dùng lớn</td>
                    <td>4-5</td>
                    <td>4-5</td>
                    <td>3-5</td>
                </tr>
                <tr>
                    <td>Khách hàng thường xuyên</td>
                    <td>Thường xuyên</td>
                    <td>Là những khách hàng có tần suất mua hàng từ trung bình, có mua hàng gần đây, giá trị tiêu dùng từ trung bình và không thuộc các nhóm trên.</td>
                    <td>2-5</td>
                    <td>3-5</td>
                    <td>3-4</td>
                </tr>
                <tr>
                    <td>Cần chú ý</td>
                    <td>Khách hàng mới</td>
                    <td>Là những khách hàng có lần mua hàng gần đây nhưng số lần mua hàng ít.</td>
                    <td>5</td>
                    <td>1</td>
                    <td>1-5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Khách hàng cũ</td>
                    <td>Là khách hàng có số ngày cao kể từ đơn hàng cuối, tuy nhiên tần suất mua hàng và giá trị tiêu dùng từ trung bình.</td>
                    <td>1</td>
                    <td>3-5</td>
                    <td>3-5</td>
                </tr>
                <tr>
                    <td>Phổ thông</td>
                    <td></td>
                    <td>Là những khách hàng không thuộc các nhóm trên.</td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="conatiner">
        <div class="row">
            <p>Nhìn chung, nhóm khách hàng phổ thông có tỉ lệ lớn nhất, chiếm 55.95% với 27.13 nghìn khách hàng, kế tiếp là nhóm khách hàng thường xuyên với 25.69%. Nhóm khách hàng cũ tiềm năng có số lượng đáng kể (với 2.86 nghìn người) , điều đó cho thấy
                có nhiều khách hàng tiềm năng đã hoặc có nguy cơ từ bỏ doanh nghiệp. Do đó cần có những biện pháp thích hợp.</p>
            <p>
                Phân tích theo nhân khẩu học, đa phần khách hàng ở các nhóm đều thuộc cấp độ thẻ White. Hầu hết khách hàng thuộc nhóm tuổi từ 18-39 tuổi, có thu nhập ở mức khá-cao. Bên cạnh đó, khách hàng đa phần là Chuyên viên tư vấn, Kỹ thuật viên và Quản lý.
            </p>
        </div>

    </div>

</section>
