.fit-cover {
    object-fit: cover;
}

.created-time {
    color: var(--bs-light-text-emphasis);
    font-style: italic;
    text-align: end;
}

.btn-social {
    background: var(--bs-gradient-primary-secondary);
}

.btn-social:hover {
    background: var(--bs-link-color);
}
