<section id="skills">
    <h2 class="text-uppercase text-center mb-4">What can I do?</h2>
    <div class="row justify-content-around col-10 m-auto">
        <ng-container *ngFor="let skill of skills">
            <mat-card class="p-4 min-h100 col-xl-5 col-md-5 m-lg-2 m-md-2 m-sm-2 opacity-bg-5">
                <img class="w-10 m-auto" src="{{ skill.Icon }}" alt="skill">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{ skill.Title }}</mat-card-title>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <li *ngFor="let node of skill.Details">{{ node }}</li>
                </mat-card-content>
            </mat-card>

        </ng-container>
    </div>
</section>