<section>
    <h2>What can I do?</h2>
    <div class="full-on-phone">
        <div class="container column-on-phone">
            <div>
                <h3>Data-related</h3>
                <ul>
                    <li>Be Familiar with: Python, SQL, PowerBI</li>
                    <li>Collect data from various sources</li>
                    <li>Process data</li>
                    <li>Visualize data</li>
                    <li>Build machine learning models</li>
                    <li>Deploy model using Flask</li>
                    <li>Have experienced Spark, Kafka, SSIS</li>
                </ul>
            </div>
            <div>
                <h3>Additional</h3>
                <ul>
                    <li>Web development: HTML, CSS, JavaScript, Angular, NodeJS, ExpressJS, MongoDB</li>
                    <li>Mobile app development: Android, Flutter</li>
                    <li>Microsoft Office: Word, Excel, PowerPoint</li>
                    <li>Design: Adobe Photoshop, Adobe Illustrator</li>
                    <li>Version control: Git, Github</li>
                </ul>

            </div>
        </div>
    </div>
</section>
