<section class="text-center text-white bg-primary masthead vh-100" style="background: linear-gradient(var(--bs-primary-border-subtle), white)">
    <div class="container h-100 flex-row align-content-around">
        <div class="row gx-3 gy-md-0 h-100 flex-row justify-content-center align-content-center">
            <div class="col-md-10 d-flex flex-row justify-content-center align-content-center h-100">
                <div class="col-md-8 d-flex flex-column justify-content-center align-content-center">
                    <h1 class="fs-1 fw-bold" style="color: var(--bs-secondary);">Hello, I'm Kieu Trinh</h1>
                    <p class="fs-5 my-3 jello animated"><br><strong><span style="color: var(--bs-secondary);">Welcome to my portfolio!</span></strong><br><br></p>
                    <p class="fs-5 my-3" style="margin: 0px 0px 0px auto;padding: 0px 50px;color: var(--bs-secondary);">I am an aspiring software engineer and data scientist. And this is a place to showcase a collection of relevant projects.&nbsp;</p>
                </div>
                <div class="col-md-2 d-md-flex flex-row align-items-center align-items-md-center h-100">
                    <div class="h-50 flex-column align-items-center justify-content-center">
                        <ul class="h-100 list-inline d-flex flex-column justify-content-between" style="color: var(--bs-link-hover-color);">
                            <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#" style="background: var(--bs-btn-border-color);box-shadow: 1px 1px 4px 2px var(--bs-link-hover-color);"><i class="fa fa-facebook fa-fw" style="color: var(--bs-btn-hover-color);background: #ffffff;"></i></a></li>
                            <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#" style="background: var(--bs-btn-border-color);box-shadow: 1px 1px 4px 2px var(--bs-link-hover-color);"><i class="fa fa-google-plus fa-fw" style="color: var(--bs-btn-hover-color);background: #ffffff;"></i></a></li>
                            <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#" style="background: var(--bs-btn-border-color);box-shadow: 1px 1px 4px 2px var(--bs-link-hover-color);"><i class="fa fa-twitter fa-fw" style="color: var(--bs-btn-hover-color);"></i></a></li>
                            <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#" style="background: var(--bs-btn-border-color);box-shadow: 1px 1px 4px 2px var(--bs-link-hover-color);"><i class="fa fa-dribbble fa-fw" style="color: var(--bs-btn-hover-color);"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-md-flex flex-row align-items-center align-items-md-center h-100">
                <!-- <div class="h-75 flex-column align-items-center align-items-md-center">
                    <ul class="h-75 list-inline d-flex flex-column justify-content-evenly" style="color: var(--bs-link-hover-color);">
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#" style="background: var(--bs-btn-border-color);box-shadow: 1px 1px 4px 2px var(--bs-link-hover-color);"><i class="fa fa-facebook fa-fw" style="color: var(--bs-btn-hover-color);background: #ffffff;"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#" style="background: var(--bs-btn-border-color);box-shadow: 1px 1px 4px 2px var(--bs-link-hover-color);"><i class="fa fa-google-plus fa-fw" style="color: var(--bs-btn-hover-color);background: #ffffff;"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#" style="background: var(--bs-btn-border-color);box-shadow: 1px 1px 4px 2px var(--bs-link-hover-color);"><i class="fa fa-twitter fa-fw" style="color: var(--bs-btn-hover-color);"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#" style="background: var(--bs-btn-border-color);box-shadow: 1px 1px 4px 2px var(--bs-link-hover-color);"><i class="fa fa-dribbble fa-fw" style="color: var(--bs-btn-hover-color);"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</section>
