<section class="text-dark mb-0" id="project">
    <div class="container py-4 py-xl-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="text-uppercase text-center text-black">My projects</h2>
                <p class="w-lg-50">My school and personal projects</p>
            </div>
        </div>
        <mat-chip-listbox aria-label="Projects" (change)="onChipChange($event)">
            <mat-chip-option class="subtle-color" value="All" selected>All</mat-chip-option>
            <mat-chip-option *ngFor="let label of labels" [value]="label">{{label}}</mat-chip-option>
        </mat-chip-listbox>
        <!-- <mat-tab *ngFor="let label of labels" label="{{label}}"> -->
        <div class="row justify-content-start">
            <ng-container *ngFor="let project of projects">
                <div *ngIf="project.IsVisible" class="col-xl-6 col-md-6 p-2">
                    <mat-card class="pb-4 min-h100 m-lg-2 m-md-2 m-sm-2" (click)="openPersonalProjectDialog(project)">
                        <mat-card-header>
                            <mat-card-title-group>
                                <img mat-card-md-image src="{{ project.Image }}" alt="project">
                                <mat-card-title>{{ project.Title }}</mat-card-title>
                                <mat-card-subtitle>{{ project.Subtitle }}</mat-card-subtitle>
                            </mat-card-title-group>
                        </mat-card-header>
                    </mat-card>
                </div>

            </ng-container>
        </div>
        <!-- </mat-tab> -->

    </div>
</section>